I am interested in going on a trip to {{destination}} with {{context}} for {{trip_length}}.

Give a list of {{min_factors}}-{{max_factors}} factors of consideration (such as cost, safety, etc.) for points of interests that I should consider and justification.
Format the output as a JSON list as follows:
[{"type":<type of POI 1>, "justification":<why is POI 1 a good option>}, {"type":<type of POI 2>, "justification":<why is POI 2 a good option>}, ...]