I am interested in going on a trip to {{destination}} with {{context}} for {{trip_length}}.

Give me a list of alternative destinations for {{destination}} and justifications for each.
Format the output as a JSON list as follows:
[{"name":<name of destination 1>, "justification":<why is destination 1 a good option>}, {"name":<name of destination 2>, "justification":<why is destination 2 a good option>}, ...]