I'm going on a trip to {{destination}} for {{trip_length}}.

Here are some reviews about {{destination}}:
{{reviews}}

Give me suggestions for things to do with {{context}} there. 
Format the output as a JSON list as follows:
[{"name":<name of place 1>, "justification":<why is place 1 a good option>}, {"name":<name of place 2>, "justification":<why is place 2 a good option>}, ...]