I'm going on a trip to {{destination}} for {{trip_length}}.

Here are some reviews about {{destination}}. Use them to help create a list of things to do there:
{{reviews}}

Give me suggestions for things to do with {{context}} there. 
Format the output as a JSON list as follows:
[{"name":<name of thing to do 1>, "justification":<why is thing to do 1 a good option>}, {"name":<name of thing to do 2>, "justification":<why is thing to do 2 a good option>}, ...]